.page {
  display: grid;
  grid-template-columns: var(--InlineSizeSidebar) 1fr;
  grid-template-rows: var(--BlockSizeHeader) 1fr;
  block-size: 100vh;
  grid-template-areas: "header header" "sidebar calendar";
}
.page .header {
  grid-area: header;
  /* block-size: var(--BlockSizeHeader); */
}
.page .sidebar {
  grid-area: sidebar;
  block-size: calc(100vh - var(--BlockSizeHeader));
}

.page .calendar {
  grid-area: calendar;
  block-size: calc(100vh - var(--BlockSizeHeader));
}
